<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Db Tables</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/crud_table.css">
</head>
<body>
    {% include 'components/navbar.html' %}

    <div class="container">
        <div class="filters">
            <div class="bordered">
                <label>Tables:</label>
                <br>
                {% for item in used_models %}
                    <a href="/table/{{ item.__name__.lower() }}">{{ item.__name__ }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="week-table bordered">
          {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
